.App {
  text-align: center;
  background-color: #616161;
  border-radius: 10px;
  max-width: 650px;
  color: #e8e8e8;
}

.App-logo {
  height: 80px;
}

.App-header {
  padding: 20px;
  border-bottom: 2px dashed #e8e8e8;
}

.App-intro {
  font-size: large;
}

.App-body {
  display: flex;
  padding: 20px;
}

.App-body > section {
  width: 50%;
}

.App-body img {
  max-width: 100%;
  height: auto;
}

.App-list {
  display: flex;
}

.App-list > div {
  padding: 5px;
}

.App-list h4 {
  margin-top: 0;
}

.App-list ul {
  padding-left: 20px;
  text-align: left;
}

.App-footer {
  padding: 20px;
}

.App-social-media {
  text-align: center;
}

.App-social-media .App-icon {
  margin-left: 10px;
}

.App-social-media .App-icon:first-child {
  margin-left: 0;
}

.App-social-media img {
  width: 32px;
}